
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInvoicePositionLabel">Create or edit a Invoice Position</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.invoicePosition.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.invoicePosition.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.invoicePosition.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_value">Value</label>
            <input type="number" class="form-control" name="value" id="field_value"
                    ng-model="vm.invoicePosition.value"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_tax">Tax</label>
            <input type="number" class="form-control" name="tax" id="field_tax"
                    ng-model="vm.invoicePosition.tax"
                    required/>
            <div ng-show="editForm.tax.$invalid">
                <p class="help-block"
                    ng-show="editForm.tax.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.tax.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="field_invoice">Invoice</label>
            <select class="form-control" id="field_invoice" name="invoice" ng-model="vm.invoicePosition.invoice" ng-options="invoice as invoice.id for invoice in vm.invoices track by invoice.id" required>
            </select>
        </div>
        <div ng-show="editForm.invoice.$invalid">
            <p class="help-block"
                ng-show="editForm.invoice.$error.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
